body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    color: white;
    border-top: 10px solid rgb(83, 198, 94);

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
}

.banner > div{
    width: 400px;
}

.banner h1{
    font-family: 'Pacifico';
    font-size: 48px;
    position: relative;
    margin-top: 0;
}

.banner h1 span{
    width: 10px;
    height: 10px;
    display: block;
    background-color: rgb(83, 198, 94);
    border-radius: 100%;
    position: absolute;
    top: 44px;
    left: 135px;
}

.banner p{
    font-size: 20px;
}

.banner > img{
    width: 250px;
    align-self: flex-end;
    display: none;
}

.banner .icones img:hover{
    background-color: rgb(83, 198, 94);
}

.banner .icones img{
    width: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}
/*------*/
.container{
    display: flex;
    justify-content: space-around;
    height: 300px;
    max-width:1000px;
    align-items: center;
    text-align: center;
    margin: auto;
}
.quadro2 img {
    background-color:rgb(83, 198, 94);
    border-radius: 100%;
    padding: 17px;
}

.quadro3{
    display:flex;
    background-color: grey;
    height: 350px;
    justify-content: space-around;
}

.container2{
    display:flex;
    max-width: 1000px;
    
    
}

.formulario{
    align-items: left;
    text-align: justify;
    width: 500px;
 }
.video{
    padding-left:30px;
    padding-right: 30px;
    padding-top: 30px;
}

h2 {
    font-size:19px;
}
p{
    font-size:15px;
    
}
@media(min-width: 768px){  /*media do banner1*/
    .banner{
        height: 38vw;
        padding: 0 100px;
    }

    .banner > img{
        display: block;
    }

}

@media(min-width: 1024px){
    .banner{
        height: 38vw;
        padding: 0 200px;
    }

    .banner > img{
        width: 350px;
        display: block;
    }
}